body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 700px;
  height: 500px;
  border: 2px solid #000000;
  overflow: auto;
  padding: 30px;
  position: relative;
}

.chat-input {
  width: 695px;
}

.chat-submit {
  width: 60px;
}

.chat-me {
  padding: 10px 30px;
  display: inline-block;
  border: 2px solid yellow;
  max-width: 300px;
  border-radius: 25px;
  float: right;
}

.chat-other {
  padding: 10px 30px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 25px;
}

._chat {
  width: 100%;
  margin-bottom: 10px;
}

._chat:after {
  content: "";
  display: table;
}

._chat:after {
  clear:both;
}

._chat_etc {
  text-align: center;
}